* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
    font-family:'Poppins', Arial, sans-serif;
  
}
html,body{
    height:100%;
}
body{ min-height: 100vh;
    display:flex;
    flex-direction: column;
     /* background-image: url("lighting1.jpg") ;
   background-size: cover;
   background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif; */

}
.dropdown { display: none;
  position: absolute;
  /* display: flex; */
  
}

main{background-image: linear-gradient(
    rgba(245, 241, 232, 0.85),
    rgba(245, 241, 232, 0.85)
    ),
    url("images/lighting1.jpg"); /* your image */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
   
    flex:1;
;
}

header h1 {
    font-size: 28px;
    font-weight: 600;
    color: #1f3c88;
    margin-bottom: 10px;
    text-align: center;
}
h2 {
    color: #1f3c88;
    margin-bottom: 10px;
}

h3 {
    margin-top: 15px;
    color: #333;
}

nav { list-style: none;
    display: flex;
    /* justify-content: space-between; */
    background-color: #1f3c88;
}

nav a {
    flex: 1;
    /* text-align: center; */
   
    color: white;
    text-decoration: none;
    font-size: 18px;
    /* border-right: 1px solid rgba(255,255,255,0.3); */
}

nav a:last-child {
    border-right: none;
}

nav a:hover {
    background-color: #162e6f;
}

 li{
color:white;
    padding: 33px;
    width: 33.3333%;
    /* justify-content: center; */
/* align-items: center; */
     border-right: 1px solid white;
     text-align: center;
}
.content-box {
    
    max-width: 1500px;
    background: rgba(255, 255, 255, 0.85);
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    font-size: 18px;
}
p {
   
    line-height: 1.7;
    margin-bottom: 10px;
}

img {
    width: 250px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

@media (max-width:100%){
  
    div{ flex-direction:column;
        text-align:center;}
}
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}
@media(max-width:768px){/* Dropdown Button */
    nav{
        display:none;
    }
.dropbtn {
  background-color: #3630de;
  color: white;
  /* justify-content: flex-start; */
  font-size: 16px;
  border: none;
left: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown { display: block;
  position: absolute;
  /* display: flex; */
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

}