* {
    box-sizing: border-box;
}

nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #1E3A8A;
}

nav a {
    color: #ffffff;

    font-weight: 500;
}

nav a:hover {
    color: #f4c430;
    /* Gold hover effect */
}

li {
    color: white;
    padding: 33px;
    width: 33.3333%;
    justify-content: center; 
    align-items: center;
     border-right: 1px solid white;
    text-align: center;}

.dropdown { display: none;
  position: absolute;
  /* display: flex; */
  
}

.form-container {
    max-width: 400px;
    background: rgba(255, 255, 255, 0.9);
    width: 380px;
    /* padding: 25px; */
    margin: 60px auto;
    border-radius: 8px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.form-container h2 {
    color: #1f3c88;
    /* deep blue */
}

.form-container label {
    color: #333;
}

.form-container button {
    background-color: #f4c430;
    /* yellow accent */
    color: #000;
    border: none;
    padding: 8px 18px;
    border-radius: 4px;
}

.form-container button:hover {
    background-color: #d9a800;
}

input,
textarea,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 14px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: calc(100vh - 140px); header + footer space */
    padding: 20px;
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-image: url("images/Decor-trends.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


html,
body {
    height: 100%;
    margin: 0;
}
#text {
    /* increase width */
    height: 100px;
    /* increase height */
    /* increase text size */
    padding: 9px;
}

footer {
    background-color: #2b2b2b;
    color: #f1f1f1;
    padding: 15px;
    text-align: center;
}

@media (max-width:100%) {
    footer {
        font-size: 13px;
    }

    div {
        flex-direction: column;
        text-align: center;
    }
}
@media(max-width:768px){/* Dropdown Button */
    nav{
        display:none;
    }
.dropbtn {
  background-color: #3630de;
  color: white;
  /* justify-content: flex-start; */
  font-size: 16px;
  border: none;
left: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown { display: block;
  position: absolute;
  /* display: flex; */
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

}