* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  background-color: linear-gradient(
        to bottom,
        #f9fafb,
        #eef2f7
    );
}

       .dropdown { display: none;
  position: absolute;
  /* display: flex; */
  
}
h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #2b2b2b;
    margin: 30px 0;
    position: relative;
}

h2:hover {
    content: "";
    width: 80px;
   
    color: #c59d5f; /* gold decor tone */
    display: block;
    margin:  10px auto ;
    padding: 10px auto 10px;
}

main{flex:1;}
.products {
    padding: 20px;
}
.grid-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr)) ;
   gap:20px;
   padding:20px;
}
.card{
    text-align:center;
}
 .card img{
   width: 100%;
   height: 180px;
   object-fit: cover;
   border-radius: 6px;
  
}
.card p{  margin-top: 6px;
    font-weight: bold;

}
.card.large {
    grid-column: span 3;
    height:280 px;
}
  
nav  ul{
    list-style: none;
    display :flex;
    flex-direction: row;
    margin:0;
    padding :0;
background-color: #1E3A8A;
}
nav a {
    color: #ffffff;
   
    font-weight: 500;
}

nav a:hover {
    color: #f4c430;              /* Gold hover effect */
}



 li{
color:white;
    padding: 33px;
    width: 33.3333%;
    /* justify-content: center; */
/* align-items: center; */
     border-right: 1px solid white;
     text-align: center;
}
footer {
    background-color: #2b2b2b;
    color: #f1f1f1;
    padding: 15px;
    text-align: center;
}

@media (max-width:768px) {
    .card.large{
        grid-column:span 1;
 }.card img{
    height : 160px;
 }
    

/* Dropdown Button */
    nav{
        display:none;
    }
.dropbtn {
  background-color: #3630de;
  color: white;
  /* justify-content: flex-start; */
  font-size: 16px;
  border: none;
left: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown { display: block;
  position: absolute;
  /* display: flex; */
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

}